* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.parent {
    background-color: #080808;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    color: #fff;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

h2 {
    padding: 10px;
    font-size: 60px;
    background-image: url(https://images.steamusercontent.com/ugc/852720452190765449/FE330C2CDBD2E7B7A5DBAA5FC248BA41612EA4EC/?imw=512&imh=342&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px blue;
    transition: all 0.3s ease 0.1s;
    cursor: pointer;
}
 

h2:hover {
    transform: rotate(5deg);
    -webkit-text-stroke: 2px white;
}
main{
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: 23%;
    background-color: #181818;
}
.mouse{
    width:60%;
    background-color: #040404;
    padding: 0.3rem;
    justify-content: space-between;
    align-items: center;
    color:#f4f1f1;
    border: 1px solid gray;
}
h3{
    font-size:1.3rem;
    
}
button{
    border-radius: 10px;
}
button:hover{
    background-color: #fff;
    color: #040404;
    scale: 1.2;
}

.btn1{
    padding: 1rem 2rem;
    background-color: teal;
    color: #f4f1f1;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btn2{
    padding: 1rem 2rem;
    background-color: teal;
     color: #f4f1f1;
     font-size: 1rem;
    font-weight: bold;
    cursor: help;
}
.btn3{
    padding: 1rem 2rem;
    background-color: teal;
     color: #f4f1f1;
     font-size: 1rem;
    font-weight: bold;
    cursor: wait;
}
.btn4{
    padding: 1rem 2rem;
    background-color: teal;
     color: #f4f1f1;
     font-size: 1rem;
    font-weight: bold;
    cursor:crosshair ;
}
.btn5{
    padding: 1rem 2rem;
    background-color: teal;
     color: #f4f1f1;
     font-size: 1rem;
    font-weight: bold;
    cursor:not-allowed;
}
.btn6{
    padding: 1rem 2rem;
    background-color: teal;
     color: #f4f1f1;
     font-size: 1rem;
    font-weight: bold;
    cursor:zoom-in;
}
.btn7{
    padding: 1rem 2rem;
    background-color: teal;
     color: #f4f1f1;
     font-size: 1rem;
    font-weight: bold;
    cursor:zoom-out;
}




