*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor:pointer;
}
 main .box{
    width: 300px;
    height: 400px;
    background-color: greenyellow;
    border: 10px solid gray;
    border-radius: 10px;
}
img{
    width: 40px;
    height: 40px;
    position:absolute;
    transform: translate(-50%, -150%);
    border-radius: 50%;
}
h1{
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    font-weight: 800;
    position:absolute;
    color: aliceblue;
    transform: translate(-50%, -200%);
    border-radius:5px;
    background-color: teal;
    border: 2px solid rgb(6, 229, 249);

}
