*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height:100vh;
    background-color: #3caab9;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 20px 30px;
    border-radius: 50px;
    background-color:royalblue;
    border: 2px solid white;
    color: aliceblue;
    font-size: 25px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0;
    cursor: pointer;
}
button:hover{
    background-color: navy;
    transform: scale(1.1);

}